.container-md {
    background-color:white ;
    text-align: center;
    max-width: 430px !important;
    height: 325px;
    border: 2px solid rgb(240, 191, 250);
    margin: 15%;
    border-radius: 48px;
  
  }

  .container-input-placeholder{
    display: flex;
    padding-top: 15%;
    text-align: left;
    padding-left: 7%;
    flex-direction: row;
    
}

.input-rate{
    width: 305px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #f3f3f3;
}

.arrow-convert{
    text-align: center;
    width: 329.3px;
    padding: 5px;
}

.title-convert{
    color:#2b2d41;
    text-align: center;
    width: 329.3px;
    padding: 5px;
    font-weight: bolder;
}
.submit-btn{
    width: 150px;
    height: 45px;
    border-radius: 10px;
    border: 2px solid #f3f3f3;
    color: #2e8d43;
    font-weight: 500;
    font-size: 15px;
}
.btn-div{
    text-align: center;
    padding: 27px;
    padding-right: 33px;
    width: 280px;
}

.dropdown-list{
    padding-left: 15px;
    margin-left: 5px;
    border-radius: 10px;
    border: 2px solid #f3f3f3;
}
option{
    background-color: #f3f3f3;
}